* {
    padding: 0;
    margin:  0;
    box-sizing: border-box;
}

:root {
    font-size: clamp(0.5em, 3.6vmin, 2.5em);
    --sunset: #fca644;
    --silhouette: #202036;
}

img {
    display: grid;
    align-content: center;
    align-items: center;
}

.App {
    overflow-x: hidden;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: start;
    font-family: "Readex Pro", sans-serif;
    background: rgb(253,62,45);
    background: linear-gradient(0deg, rgba(253,62,45,1) -0%, rgba(233,143,59,1) 33%, rgba(183,218,216,1) 60%, rgba(34,193,195,1) 110%);
    width: 100%;
    height: 100vh;
    grid-template-rows: auto 1fr 0 0;
    overflow-y: hidden;
    text-align: center; 
}

h1 {
    position: relative;
    font-family: 'Pacifico', cursive, serif;
    z-index: 1;
    line-height: 3.2rem;
}

.App h1, .Memories h1 {
    color: var(--silhouette);
}

h1 a {
    color: inherit;
}

h1#title {
    font-size: 2.7rem;
    padding-top: 2rem;
}

#links {
    margin-top: 2.7rem;
    display: grid;
    grid-gap: 1rem;
    justify-items: center;
    align-content: start;
    z-index: 1;
}

#links a {
    font-size: 2rem;
    color: var(--silhouette);
    text-decoration: none;
}

.center-text {
    padding: 1.5rem;
    max-width: 100vw;
    display: grid;
    justify-items: center;
    align-content: start;
    font-size: 1.32rem;
    grid-gap: 1rem;
    z-index: 1;
}

a {
    text-decoration: none;
}

svg {
    pointer-events: none;
    overflow: visible;
}

.hills {
    width: 100rem;
    min-width: 100vw;
    transform: translateY( min( calc( 200rem / -25 ), 100vh ) );
    justify-self: left;
}

.sun-circle {
    fill:#ff2200;
}

@media only screen and (max-width: 40rem) {
    .hills {
        margin-top: -3rem;
    }
}

.clouds {
    display: grid;
    transform: translateY(calc(-100vh + 5rem));
    height: 50vh;
    grid-template-rows: repeat(20, 1fr);
}

.cloud {
    fill: white;
    opacity: 0.5;
    height: 6rem;
    margin-top: -6rem;
    animation: float 20s linear infinite;
}

@keyframes float {

    from {
        transform: translateX(calc( -50vw - 5rem ));
    }
    to {
        transform: translateX(calc( 5rem + 50vw));
    }
}

.Memories {
    overflow-x: hidden;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: start;
    font-family: "Readex Pro", sans-serif;
    width: 100%;
    min-height: 100vh;
    text-align: center; 
    background: rgba(34,193,195,1);
}

.Memories .clouds {
    top: 0;
    z-index: 1;
    transform: none;
    height: 10rem;
    margin-bottom: -10rem;
}

.memory-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    list-style: none;
    max-width: 120rem;
}

li {
    height: 10rem;
    flex-grow: 1;
}

li.loading {
    width: 100%;
}

.memory-list li img {
    height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width: 100vw;
    object-fit: cover;
    vertical-align: bottom;
    transform: scale(1.0);
    /*transition: transform 0.2s;*/
    position: relative;
    top: 0;
    cursor: pointer;
}

.memory-list li img:hover {
    transform: scale(1.2);
    object-fit: contain;
    z-index: 1;
}

.memory-list li:last-child {
    flex-grow: 10;
}

.add-photo {
    min-width: 12rem;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    cursor: pointer;
}

.add-photo button {
    background: transparent;
    border: none;
    cursor: pointer;
    transform: scale(1.0);
    transition: transform 0.2s;
}

.add-photo input {
    display: none;
}

.add-photo button:hover {
    transform: scale(1.1);
}

.add-photo button:active {
    transform: scale(1.0);
}

.add-photo button p {
    font-family: "Readex Pro", sans-serif;
    color: var(--silhouette);
    font-size: 1rem;
}

.add-photo button svg {
    height: 2.5rem;
    margin-bottom: 0.6rem;
    fill: transparent;
    stroke: var(--silhouette);
    stroke-width: 0.08;
}

.detail-card {
    display: grid;
    position: fixed;
    background: white;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    border-radius: 2rem;
    box-shadow: 0 0 0 1000rem rgba(0, 0, 0, 0.5);
    overflow: hidden;
    justify-items: center;
    grid-template-rows: auto min-content;
    max-height: calc(100vh - 3.2rem);
    width: 100%;
}

.detail-card img {
    object-fit: contain;
    align-self: center;
}

.detail-card p {
    padding: 1rem;
}

/*
.memory-list {
    display: grid;
    grid-gap: 1rem;
    padding: 2rem;
    width: 100%;
}

@media only screen and (min-width: 60rem) {

    .memory-list {
        grid-template-columns: 1fr 1fr;
    }
}

.card {
    display: grid;
    justify-items: center;
    align-content: start;
    align-items: start;
    grid-gap: 0.5rem;
}

.card img {
    width: min(25rem, 100%);
    height: auto;
    background: grey;
}
*/

.family-tree {
    overflow-x: hidden;
    background: rgb(0,212,255);
    background: linear-gradient(0deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 100%); 
    display: grid;
    justify-content: center;
    justify-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    grid-template-rows: auto 1fr 0 0 0;
}

.family-tree h1 {
    color: white;
    text-shadow: 0 0 0.25rem #fffb;
}

.family-tree .tree {
    padding: 2rem;
    margin-top: max( 0rem, calc(40vh - 40vw) );
    width: 40rem;
    max-width: 100vw;
    z-index: 1;
    position: relative;
    top: 0;
}

.family-tree .hills {
    transform: translateY( min( calc( 200rem / -30 ), 100vh ) );
}

.family-tree .hills .sun-circle {
    fill: transparent;
}

.family-tree .cloud {
    opacity: 0.32;
}

.stars {
    transform: translateY(-100vh);
    height: 45vh;
    width: 100rem;
    min-width: 100vw;
}

.star {
    box-shadow: 0 0 0.25rem #fff;
    background: white;
    position: absolute;
    z-index: 0;
    width: 0.1rem;
    height: 0.1rem;
}
