* {
    padding: 0;
    margin:  0;
}

@media only screen and ( max-width: 700px ) {

    :root {
        font-size: 0.5em;
    }
}

@media only screen and ( min-width: 1800px ) {

    :root {
        font-size: 1.5em;
    }
}

.App {
    overflow-x: hidden;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: start;
    --sunset: #fca644;
    --silhouette: #202036;
    font-family: "Readex Pro", sans-serif;
    background: rgb(253,62,45);
    background: linear-gradient(0deg, rgba(253,62,45,1) -15%, rgba(233,143,59,1) 23%, rgba(183,218,216,1) 55%, rgba(34,193,195,1) 110%);
    width: 100%;
    height: 100vh;
    grid-template-rows: auto 1fr 0 0;
    overflow-y: hidden;
    text-align: center; 
}

h1 {
    position: relative;
    font-family: 'Pacifico', cursive, serif;
    color: var(--silhouette);
    z-index: 1;
    line-height: 3.2rem;
}

h1#title {
    font-size: 2.7rem;
    padding-top: 2rem;
}

#links {
    margin-top: 3.2rem;
    display: grid;
    grid-gap: 1rem;
    justify-items: center;
    align-content: start;
    z-index: 1;
}

#links a {
    font-size: 2rem;
    color: var(--silhouette);
    text-decoration: none;
}

.center-text {
    margin: 1.5rem;
    display: grid;
    justify-items: center;
    align-content: start;
    font-size: 1.32rem;
    grid-gap: 1rem;
    z-index: 1;
}

a {
    text-decoration: none;
}

svg {
    pointer-events: none;
    overflow: visible;
}

.hills {
    width: calc( (100vw + 150rem) / 2 );
    min-width: 100vw;
    transform: translateY( calc( (100vw + 150rem) / -25 ) );
    justify-self: left;
}

.clouds {
    display: grid;
    transform: translateY(calc(-100vh + 5rem));
}

.cloud {
    fill: white;
    opacity: 0.5;
    height: 6rem;
    margin-top: -5rem;
    animation: float calc(20s) linear infinite;
}

@keyframes float {

    from {
        transform: translateX(calc( -50vw - 5rem ));
    }
    to {
        transform: translateX(calc( 5rem + 50vw));
    }
}